<form class="container" (ngSubmit)="onSubmit(form)" #form="ngForm" >
    <h2>Reset Password</h2>
    <input type="email" id="email" name="email" placeholder="EMAIL" ngModel required email
   #email="ngModel">
 <p class="error" *ngIf="!email.value && email.touched">Email is required*</p>
    <input type="password" placeholder="New Password" name ="password" ngModel required
    #password="ngModel">
    <p class="error" *ngIf="!password.value && password.touched">Password is required*</p>
    <input type="password" id="confirmPassword" name="confirmPassword"
        placeholder="CONFIRM PASSWORD" ngModel required #confirmpass="ngModel">
    <p class="error" *ngIf="!confirmpass.value && confirmpass.touched">Confirm password field is
        required*</p>
    <button type="submit">Submit</button>
  </form>
  
