<div class="maincontainer">
    <div class="container">
        <div class="userDetailsContainer">
            <form class="userDetails">
                <h4>Welcome Back!</h4>
                <input type="email" id="email" name="email" placeholder="Email">
                <input type="password" id="password" name="password" placeholder="Password">
                <button type="submit" class ="btn">Log In</button>
                <p>Dont have an account? Register here:</p>
            </form>
            
        </div>
    </div>
</div>