*{
    margin:0;
    padding:0;
}
.maincontainer {
    background-color: #F7F7F7;
 
  }


.title{
    margin-left: 10rem;
    padding-top: 10px;
  
  }

.text{
margin-left: 5rem;
margin-bottom: 25px;
margin-top: 1rem;
}

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: auto;
    max-width: 1200px;
    padding: 15px;
    margin-top: 10px;
 
  }
  
  .container1 {
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-radius: 20px;
    height:200px;
    width: 350px;
  }


  #searchbar {
    width: 40rem;
    height: 42px;
    padding: 5px;
    font-size: 16px;
    margin-right: 10rem;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    animation: floatAnimation 2s ease-in-out;
    text-align: center;
    margin-left: 17rem;
    border: none;
  }

  @keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  button{
    background-color: #F5E9E9;
    padding:10px;
    margin-bottom: 10px;
    border: none;
  }

  .arrow-icon {
    font-size: 30px;
    color: #000000;
    margin-left: 5%;
    cursor: pointer;

  }
  

  @media (max-width: 748px) {
    .maincontainer {
      max-width: 100%;
    }
  
    
    
  
    .text {
    font-size: 13.5px;
    width:8rem;
    }
  
    .container {
      grid-template-columns: repeat(1, 1fr);
      justify-content: center;
      grid-gap: 20px;
      align-items: center;
      margin-left: 30px;
    }
  
    #searchbar {
      width: 85%;
      margin: 0 auto;
      margin-left: 1rem;
    }
    .filter{
      display: none;
    }

    .container1 {
      background-color: #ffffff;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      border-radius: 20px;
      height:80%;
      width: 60%;
      padding:1rem;
      justify-content: center;
    }
  
  }