<div class ="maincontainer">

<h2 class="title">Tags</h2>
<p class="text">A tag is a keyword or label that categorizes your question with other, similar questions. Using the right tags makes it easier for others to find and answer your question.</p>

    <input type="search" id="searchbar" name="myInput" placeholder="Search">
  <button>FILTER BY TAG</button>
 

    <div class="container">
  <div class="container1">
    <button>HTML</button>
    <p>How can I center align a div element horizontally and vertically using CSS?</p>
  </div>
  <div class="container1">
    <button>HTML</button>
    <p>How can I center align a div element horizontally and vertically using CSS?</p>
  </div >
  <div class="container1">
    <button>HTML</button>
    <p>How can I center align a div element horizontally and vertically using CSS?</p>
  </div>
  <div class="container1">
    <button>HTML</button>
    <p>How can I center align a div element horizontally and vertically using CSS?</p>
  </div>
  <div class="container1">
    <button>HTML</button>
    <p>How can I center align a div element horizontally and vertically using CSS?</p>
  </div>
  <div class="container1">
    <button>HTML</button>
    <p>How can I center align a div element horizontally and vertically using CSS?</p>
  </div>
  <div class="container1">
    <button>HTML</button>
    <p>How can I center align a div element horizontally and vertically using CSS?</p>
  </div>
  <div class="container1">
    <button>HTML</button>
    <p>How can I center align a div element horizontally and vertically using CSS?</p>
  </div>

</div>
</div>