
<div class="maincontainer">
<div class="container">
    <div class="userDetailsContainer">
        <h4>Welcome, Register with us <br>Today!.</h4>
        <form class="userDetails">
            <input type="text" id="userName" name="username" placeholder="USERNAME">
            <input type="email" id="email" name="email" placeholder="EMAIL">
            <input type="password" id="password" name="password" PLACEHOLDER="PASSWORD">
            <input type="password" id="confirmPassword" name="confirmPassword" PLACEHOLDER="CONFIRM PASSWORD">
            <button type="sublit" class="btn">Sign Up</button>
        </form>
        <p>Already have an account? log in here</p>
    </div>
    <div class="gif">
        <img src="../../assets/signup.gif" alt="Sign Up Gif">
    </div>
</div>
</div>