<div class="maincontainer">
    <img class ="logo" src="../../assets/logo.png">
    <div class="container">
      
        <div class="topContainer">
        </div>
        <div class ="content">
        <div class="img">
            <img src="../../assets/landingpgimg.svg" >
        </div>
        <div class="text">
            <p>Where curiosity meets collaboration.<br>
                Discover solutions, connect with experts.</p>
                <button class="btn" type="submit">Join Us</button>
        </div>
    </div>
        <div class="btmContainer">
        </div>
    </div>
</div>
