
.maincontainer {
    /* width: 100%; */
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #24285B;
    overflow: hidden;
   top:0;
   left: 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20px;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
  margin-left:50%;
  
 
}

.logo {
  max-height: 3.5rem;
  vertical-align: middle;
  margin-right: 5px; 
}

span {
  color: #ffffff;
  font-size: 25px;
}

.container {
    background-color: #000F33;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 70%;
    height: 70%;
    border-radius: 15px;
}

.ttle{
  margin-bottom: 1rem;
}

  .buttonContainer {
    display: flex;
    top: 15px;
    right: 20rem; 
    
    
  }
  
  .loginBtn,
  .signupBtn {
    margin: 0 5px;
    padding: 1rem;
    border-radius: 10px;
    
  }
  
  .loginBtn,
.signupBtn {
  margin: 0 5px;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginBtn:hover,
.signupBtn:hover {
  background-color: #2980b9;
}



.content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

      
    
}

.img {
    padding: 20px;
    width: 50%;
    text-align: center;
   
}

.text {
    padding: 20px;
    width: 50%;
    text-align: center;
    color: white;
    font-size: 20.5px;
    margin-top: 5rem;
    margin-bottom: 1.5rem;
  
}

.btn {
    padding: 15px;
    border-radius: 15px;
    width: 30%;
    margin-top: 1.5rem; 
    margin-bottom: 1.5rem; 
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  .btn:active {
    transform: scale(1.7); 
  }

  .active{
    background-color: black;
    color: white;
  }
  


  @media screen and (max-width: 748px) {
    .img {
      display: none;
    }
  
    .logo {
      max-height: 3.5rem;
   
    }
  
    .maincontainer {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    span{
font-size: 100%;
    }
    .logo{
width:20%;
    }
    p{
      font-size: 10.5px;
    }
  
    .container {
      background-color: #000F33;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 65vw;
      height: 65vh;
      border-radius: 15px;
    }
  
    .content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .text{
        font-size: 12.5px;
    }
    .btn{
     width:55%;
        font-size: 13px;
        padding: 6.5%;
        border-radius: 10px;
        cursor: pointer;
    }
    .btn:active {
        transform: scale(1.2); 
      }

      .loginBtn,
      .signupBtn {
        padding: 0.25rem;
        border-radius: 5px;
      }
  }
  

  