<div class="maincontainer">
  <div class="header">
 
    <div class="buttonContainer">
      <button class="loginBtn" [routerLink]="['/login']" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Log In</button>
      <button class="signupBtn" [routerLink]="['/signup']">Sign Up</button>
    </div>
  </div>
  <div class="container">
    <div class="topContainer"></div>
    <div class="content">
      <div class="img">
        <img src="../../assets/landingpgimg.svg" />
      </div>
      <div class="text">
        <div class="ttle">
        <img class="logo" src="../../assets/logo.svg" /> <span>StackOverflow Dupe</span>
      </div>
        <p>
          Where curiosity meets collaboration.<br> Discover solutions, connect
          with experts.
        </p>
        <button class="btn" type="submit" [routerLink]="['/signup']">Join Us</button>
      </div>
    </div>
    <div class="btmContainer"></div>
  </div>
</div>
