<div class="container">

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <fa-icon class="arrow-icon" [icon]="faArrowLeft" [routerLink]="['/profile']"></fa-icon>
        <h3>EDIT QUESTION</h3>
        <input type="title" id="title" formControlName="title" placeholder="Type your new title?" required>
        <p class="error" *ngIf="form.get('title')?.invalid && form.get('title')?.touched">New title is required*</p>
        <input type="text" id="text" formControlName="body" placeholder="EXTRA NEW DESCRIPTIVE" required>
        <p class="error" *ngIf="form.get('body')?.invalid && form.get('body')?.touched">Descriptive is required*</p>
        <div formArrayName="TAGS">
            <p>Add TAGS</p>
            <button type="button" (click)="addtag()">ADD TAG?</button>
            <div *ngFor="let control of getControls(); let i = index">
              <input type="text" [formControlName]="i">
              <p class="error" (click)="removetag(i)">X</p>
            </div>
            <p class="error" *ngIf="form.get('tags')?.invalid && form.get('tags')?.touched">No empty fields*</p>
          </div>
        <button type="submit" class="btn" [disabled]="form.invalid">RE-SUBMIT</button>
      </form>
      
</div>