.container{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #F0F0F0;
    height:100%;
    }
    
    .profile-container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        background-color: #ffffff;
        padding: 20px;
        margin: 20px;
    
      }
      
      
      .profile-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height:100vh;
      }
      
        .profile-info h2 {
            margin: 0;
            margin-left: 29px;
            margin-top: 0;
          }
          
        
      
      .question-buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 10px;
        margin-top: 5rem;
     background-color: #ffffff;
      }
      
      .question-type {
        padding: 5px 10px;
        border-radius: 5px;
        background-color: #F0F0F0;
        color: #000000;
        border: none;
        cursor: pointer;
        margin-top: 55px;
        padding:15px;
         width:5.8rem;
      }
      .question-type2 {
        padding: 5px 10px;
        border-radius: 5px;
        background-color: #F0F0F0;
        color: #000000;
        border: none;
        cursor: pointer;
        margin-top: 15px;
        justify-content: center;
        padding:15px;
           width:5.8rem;
        margin-right: 50px;
      }
      
      .edit-profile {
        padding: 10px 20px;
        border-radius: 10px;
        background-color: #F0F0F0;
        color: #000000;
        border: none;
        cursor: pointer;
      }
      
      .posted-questions {
      width:50vw;
      min-height:100vh;
        background-color: #F0F0F0;
      }
      
      .posted-questions h3 {
        margin-bottom: 10px;
      }
      
      .question {
        background-color: #D9D9D9;
        padding: 10px;
        margin-bottom: 20px;
     width: 70%;
     height:max-content;
     border-radius: 15px;
      }
      
     
      .edit {
        padding: 5px 10px;
        border-radius: 5px;
        background-color: #ffffff;
        color: #000000;
        border: none;
        cursor: pointer;
        margin-left: 35.5rem;
      }
    
      .edit-profile{
    cursor: pointer;
      }
    
      button:hover{
        background-color: #f5e9ef;
      }

      #search-input{
        width: 27rem;
        height: 4.5%;
        border: none;
        font-size: 16px;
        margin-right: 10rem;
        border-radius: 20px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        animation: floatAnimation 2s ease-in-out;
        text-align: center;
      margin-top: 15px;
      margin-bottom: 15px;
      padding: 10px;

      }

      .message{
        background-color: #42c88a;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
      }

      @keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.icon{
display: flex;
justify-content: flex-end;
cursor: pointer;
}

.arrow-icon {
  font-size: 30px;
  color: #000000;
 cursor: pointer;


}

.posted-questions p{
  padding-top: 1rem;
  padding-left: 1.25rem;
}


@media screen and (max-width: 740px) {
  .question {
    width: 75%;
  }

  #search-input{
    width: 85%;
  }
  h3{
    font-size: 14.5px;
  }

}