<div class="container">

    <div class="profile-container">
        <div class="profile-info">
          <div class="question-buttons">
            <fa-icon class="arrow-icon" [icon]="faArrowLeft" [routerLink]="['/home']"></fa-icon>
            <button class="question-type" [routerLink]="['/adminusers']" >Users</button>
            <button class="question-type2" [routerLink]="['/adminquestions']" >Questions</button>
          </div>
        </div>
    
        <div class="posted-questions">
            <P>ADMINISTARTOR DASHBOARD</P>
            <input type="text" id="search-input" placeholder="Search..." />
          <h3>USER QUESTIONS</h3>
          <div class="question">
            <p>Why won't image go to code?</p>
          
            <fa-icon class="icon" [icon]="faTrash"></fa-icon>
          </div>
          <div class="question">
            <p>How to put a hamburger menu</p>
          
            <fa-icon class="icon" [icon]="faTrash"></fa-icon>
          </div>
       
        </div>
     
      </div>
    </div>