<div class="container">
  <fa-icon class="arrow-icon" [icon]="faArrowLeft" [routerLink]="['/login']"></fa-icon>
    <h2>Forgot Password??</h2>
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <input type="email"[ngClass]="{'invalid': !email.value && email.touched}"
      name="email" placeholder="Email"  ngModel required email
      #email="ngModel" >
      <p class="error" *ngIf="!email.value && email.touched">Email is required*</p>
      <button type="submit">Submit</button>
    </form>
  </div>
