

.maincontainer{
    background-color:#E2DEDE;
    padding-bottom: 1rem;
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
}


h3 {
  text-align: center;
}

.questiondetails {
  background-color: #E1DDDD;
  width: 70rem;
  margin: 0 auto;
  text-align: center;
padding-bottom: 30px;
}
.section{
    margin-left: 8rem;
    background-color: #ffffff;
}
.section2{
    margin-left: 8.5rem;
    background-color: #ffffff;
}
.random{

    background-color: #ffffff;
  margin-left: 50px;
  margin-right: 50px;
  padding:1rem;

}

.section{
  margin-top: 20px;
}
.commentsection{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
input[type="text"] {
    color: #000000;
    padding: 11px;
    border-radius: 15px;
    width:57rem;
    margin-top: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .answertitle{
    margin-left: 8rem;
  }

  #textarea{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  textarea{
    width:70rem;
    height:30rem;
    text-align: center;
  }
  button[type="submit"] {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
  }
  
  button[type="submit"]:hover {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 12px 22px;
  }
  .answertitle{
    margin-top: 25px;
    margin-bottom: 10px;
  }
  
  @media screen and (max-width: 758px) {
    .questiondetails {
      width: 100%;
      margin: 0 auto;
    }
  
    .random {
      margin: 0;
    }
  
    .section,
    .section2 {
      margin-left: 0.5rem;
    }
  
    input[type="text"] {
      width: 90%;
      max-width: 90%;
    }
  
    .answertitle {
      margin-left: 0.5rem;
    }
  
    textarea {
      width: 90%;
      max-width: 90%;
    }
  }