<div class="maincontainer">
  <fa-icon class="arrow-icon" [icon]="faArrowLeft" [routerLink]="['/home']"></fa-icon>
  <h3>See Questions and Answers</h3>

  <!-- Question -->
  <div class="questiondetails" *ngIf="questions">
    <h2>{{ questions.title }}</h2>
    <p>{{ questions.body }}</p>
  </div>

  <!-- Answers -->
  <div class="random">
    <h2 class="section">Answers:</h2>
    <div class="section2">
      <div class="answersection" *ngFor="let answer of answers">
    <!-- Example checkbox -->
    <input type="checkbox" [(ngModel)]="isAnswerPreferred" (change)="setAnswerAsPreferred(answer.answerId)" />


        <div>
          <h3>{{ answer.body }}</h3>
          <div class="votes">
            <div class="icons">
              <!-- <fa-icon class="icon" [icon]="faTrophy"></fa-icon> -->
              <fa-icon class="icon" [icon]="faComment" (click)="showCommentbar = !showCommentbar"></fa-icon>
            </div>
            <div class="votealign">
              <span class="vote-count">{{ answer.totalVotes }} votes</span>
              <button class="vote-button" (click)="upvote(answer.answerId)">▲</button>
              <button class="vote-button" (click)="downvote(answer.answerId)">▼</button>
            </div>
          </div>
        </div>
        <div *ngFor="let comment of comments" class="comment">
          <h5>COMMNETS</h5>
          <ng-container *ngIf="comment.answerId === answer.answerId">
            {{ comment.body }}
          </ng-container>
        </div>
        <div class="commentsection">
          <input
            type="text"
            id="comment"
            name="body"
            placeholder="Enter your comment here"
            required
            [hidden]="!showCommentbar"
            #body
          />
          <fa-icon
            class="send-icon"
            [icon]="faPaperPlane"
            [hidden]="!showCommentbar"
            (click)="sendComments(body.value, answer.answerId)"
          ></fa-icon>
        </div>
      </div>
    </div>

    <!-- Post your answer -->
    <h2 class="answertitle">Post Your Answer</h2>
    <form id="textarea" (ngSubmit)="onSubmit(form)" #form="ngForm">
      <textarea
        name="body"
        placeholder="Type your answer here"
        ngModel
        required
        answer
        #answer="ngModel"
      ></textarea>
      <br />
      <button type="submit" [disabled]="!form.valid">POST YOUR ANSWER</button>
    </form>
  </div>
</div>
