.maincontainer {
  background-color: #e2dede;
  padding: 10px 25px;
}

h3 {
  text-align: center;
  padding-bottom: 1rem;
}

.questiondetails {
  background-color: #e1dddd;
  width: 65%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
}

.custom-checkbox {
  /* Increase the size of the checkbox */
  width: 20px;
  height: 20px;
}

.section {
  margin-left: 8rem;
  background-color: #ffffff;
}

.section2 {
  margin-left: 8.5rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.answersection {
  display: flex;
  flex-direction: column;
  background: #eee;
}

.random {
  background-color: #ffffff;
  margin: 0 50px;
  padding: 1rem;
}

.commentsection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input[type="text"] {
  color: #000000;
  padding: 11px;
  border-radius: 15px;
  width: 50%;
  margin-top: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
}

.answertitle {
  margin-left: 8rem;
  margin-top: 25px;
  margin-bottom: 10px;
}

#textarea {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

textarea {
  width: 70%;
  height: 25rem;
  text-align: center;
  font-size: 15px;
}

button[type="submit"] {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

button[type="submit"]:hover {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 12px 22px;
}

.votes {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 20px;
}

.votealign {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.icons {
  display: flex;
  gap: 0.5em;
  flex-direction: row;
  cursor: pointer;
  margin-right: 1rem;
}

.commentsection {
  position: relative;
}

.send-icon {
  position: absolute;
  top: 53.5%;
  right: 25.5%;
  transform: translateY(-50%);
  cursor: pointer;
}

.arrow-icon {
  font-size: 30px;
  color: #000000;
  cursor: pointer;
  margin-left: 5%;
}

.error {
  color: red;
}

@media screen and (max-width: 758px) {
  .questiondetails {
    width: 100%;
    margin: 0 auto;
  }

  .random {
    margin: 0;
  }

  .section,
  .section2 {
    margin-left: 0.5rem;
  }

  input[type="text"] {
    width: 90%;
    max-width: 90%;
  }

  .answertitle {
    margin-left: 0.5rem;
  }

  textarea {
    width: 90%;
    max-width: 90%;
  }
}
