<div class="container">
    <div class="profile-container">
        <div class="profile-info">
          <div class="question-buttons">
            <button class="question-type">Users</button>
            <button class="question-type2">Questions</button>
          </div>
        </div>

        <div class="posted-questions">
            <P>ADMINISTARTOR DASHBOARD</P>
            <input type="text" id="search-input" placeholder="Search..." />
          <h3>USERS:</h3>
          
            <div class="super">

                <div class="one">
               <p>Jameson Mwangi</p>
                </div >
                <div class="one">
                    <p>Karry Kemu</p>
                </div>
                <div class="one">
                    <p>Karry Kemu</p>
                </div>
                <div class="one">
                    <p>Karry Kemu</p>
                </div>
        </div>
       
     
      </div>
    </div>